body{
  background-color: pink;
}

h1{
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.card-body p {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.card-body h2{
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

ul{
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;  
}

.card-header h5 {
  font-family: Arial, sans-serif; 
  font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  
}



.col-md-4 {
  flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: 5rem;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 0.5rem;
}

.card-header {
  background-color: inherit;
  border-bottom: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-title {
  margin-top: 0.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.card-subtitle {
  margin-bottom: 0;
}

.category {
  font-size: 0.8rem;
  color: #6c757d;
}